body {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.timer {
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.value {
  text-align: center;
  width: 50px;
  margin-bottom: 20px;
}
